/* @import "remark-callouts/styles.css"; */
/* @import '@splidejs/react-splide/css/core'; */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Miriam+Libre&display=swap');

/* Fonts */
@font-face {
  font-family: "Restora";
  src: url("/fonts/Restora.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Restora";
  src: url("/fonts/RestoraBold.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Restora";
  src: url("/fonts/RestoraExtraLight.otf");
  font-style: light;
  font-display: swap;
}

/* mathjax */
.math-inline {
  display: flex;
  align-items: center;
}

/* smooth scrolling in modern browsers */
html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 6rem;
}


/* hide anchor link with # icon  */
.unstyled :is(h1, h2, h3, h4, h5, h6)>a {
  visibility: hidden;
}

.docs :is(h1, h2, h3, h4, h5, h6) {
  margin-left: -2rem !important;
  padding-left: 2rem !important;
  scroll-margin-top: 4.5rem;
  position: relative;
}

.docs :is(h1, h2, h3, h4, h5, h6)>a {
  padding: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
  border-radius: 5px;
  background: #1e293b;
  opacity: 0;
  transition: opacity 0.2s;
}

.light .docs :is(h1, h2, h3, h4, h5, h6)>a {
  /* border: 1px solid #ab2b65; */
  /* background: none; */
  background: #e2e8f0;
}

.docs :is(h1, h2, h3, h4, h5, h6):hover>a {
  opacity: 100;
}

.docs :is(h1, h2, h3, h4, h5, h6)>a>svg {
  transform: scale(0.75);
}

@media screen and (max-width: 640px) {
  .docs :is(h1, h2, h3, h4, h5, h6)>a {
    visibility: hidden;
  }
}

.custom-bg::after {
  content: '';
  background-image: url('/images/bg.svg');
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  /* Adjust the width to control the image area */
  z-index: -1;
}


.heading-highlight::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  height: 50%; /* Adjust height as needed */
  background: #5EEAD4; /* Your desired background color */
  bottom: 0; /* Align to bottom of text */
}

.idms-for-bg::after{
  content: '';
  display: block;
  background-image: url('/images/line.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 480px;
  margin-top: 20px;
  width: 80%;
  max-width: 1280px;
  z-index: -1;
}



.showcase::after{
  content: '';
  display: block;
  background-image: url('/images/dot_grid.svg');
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  /* margin-top: 10px; */
  height: 600px;
  width: 100%;
  /* Adjust the width to control the image area */
  z-index: 0;
}

@media screen and (max-width:769px) {
  .idms-for-bg::after{
    display: none;
    visibility: hidden;
  }
  .showcase::after{
    height: 920px;
    margin-top: -90px;
  }
}